.vi-rr-check {
  mask-image: url('../regular-rounded/vi-rr-check.svg');
  -webkit-mask-image: url('../regular-rounded/vi-rr-check.svg');
}
.vi-rr-checkbox {
  mask-image: url('../regular-rounded/vi-rr-checkbox.svg');
  -webkit-mask-image: url('../regular-rounded/vi-rr-checkbox.svg');
}
.vi-rr-cross-circle {
  mask-image: url('../regular-rounded/vi-rr-cross-circle.svg');
  -webkit-mask-image: url('../regular-rounded/vi-rr-cross-circle.svg');
}
.vi-rr-cross-small {
  mask-image: url('../regular-rounded/vi-rr-cross-small.svg');
  -webkit-mask-image: url('../regular-rounded/vi-rr-cross-small.svg');
}
.vi-rr-cross {
  mask-image: url('../regular-rounded/vi-rr-cross.svg');
  -webkit-mask-image: url('../regular-rounded/vi-rr-cross.svg');
}
.vi-rr-edit-alt {
  mask-image: url('../regular-rounded/vi-rr-edit-alt.svg');
  -webkit-mask-image: url('../regular-rounded/vi-rr-edit-alt.svg');
}
.vi-rr-edit {
  mask-image: url('../regular-rounded/vi-rr-edit.svg');
  -webkit-mask-image: url('../regular-rounded/vi-rr-edit.svg');
}
.vi-rr-envelope {
  mask-image: url('../regular-rounded/vi-rr-envelope.svg');
  -webkit-mask-image: url('../regular-rounded/vi-rr-envelope.svg');
}
.vi-rr-globe {
  mask-image: url('../regular-rounded/vi-rr-globe.svg');
  -webkit-mask-image: url('../regular-rounded/vi-rr-globe.svg');
}
.vi-rr-heart {
  mask-image: url('../regular-rounded/vi-rr-heart.svg');
  -webkit-mask-image: url('../regular-rounded/vi-rr-heart.svg');
}
.vi-rr-home {
  mask-image: url('../regular-rounded/vi-rr-home.svg');
  -webkit-mask-image: url('../regular-rounded/vi-rr-home.svg');
}
.vi-rr-marker {
  mask-image: url('../regular-rounded/vi-rr-marker.svg');
  -webkit-mask-image: url('../regular-rounded/vi-rr-marker.svg');
}
.vi-rr-menu-burger {
  mask-image: url('../regular-rounded/vi-rr-menu-burger.svg');
  -webkit-mask-image: url('../regular-rounded/vi-rr-menu-burger.svg');
}
.vi-rr-phone-call {
  mask-image: url('../regular-rounded/vi-rr-phone-call.svg');
  -webkit-mask-image: url('../regular-rounded/vi-rr-phone-call.svg');
}
.vi-rr-search {
  mask-image: url('../regular-rounded/vi-rr-search.svg');
  -webkit-mask-image: url('../regular-rounded/vi-rr-search.svg');
}
.vi-rr-settings-sliders {
  mask-image: url('../regular-rounded/vi-rr-settings-sliders.svg');
  -webkit-mask-image: url('../regular-rounded/vi-rr-settings-sliders.svg');
}
.vi-rr-settings {
  mask-image: url('../regular-rounded/vi-rr-settings.svg');
  -webkit-mask-image: url('../regular-rounded/vi-rr-settings.svg');
}
.vi-rr-shopping-cart-add {
  mask-image: url('../regular-rounded/vi-rr-shopping-cart-add.svg');
  -webkit-mask-image: url('../regular-rounded/vi-rr-shopping-cart-add.svg');
}
.vi-rr-shopping-cart-check {
  mask-image: url('../regular-rounded/vi-rr-shopping-cart-check.svg');
  -webkit-mask-image: url('../regular-rounded/vi-rr-shopping-cart-check.svg');
}
.vi-rr-shopping-cart {
  mask-image: url('../regular-rounded/vi-rr-shopping-cart.svg');
  -webkit-mask-image: url('../regular-rounded/vi-rr-shopping-cart.svg');
}
.vi-rr-user {
  mask-image: url('../regular-rounded/vi-rr-user.svg');
  -webkit-mask-image: url('../regular-rounded/vi-rr-user.svg');
}
.vi-rr-users-alt {
  mask-image: url('../regular-rounded/vi-rr-users-alt.svg');
  -webkit-mask-image: url('../regular-rounded/vi-rr-users-alt.svg');
}
.vi-rr-users {
  mask-image: url('../regular-rounded/vi-rr-users.svg');
  -webkit-mask-image: url('../regular-rounded/vi-rr-users.svg');
}
